*{
    background-color: rgb(34, 33, 33);
    color: rgb(220, 220, 220);
}

.hero-section{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.Main-body{
    display: flex;
    flex-direction: row;
}

.calc{
    display: flex;
    flex-flow: column nowrap;
    border: 2px solid #555;
    padding: 10px;
}
.inputs{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border: 2px solid #555;
    pad: 10px;

}


.guide-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #555;
}

button{
    margin: 10px;
    padding: 10px 70px;
    border-radius: 20px;
}

